In [1]:
pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.34)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pyodbc
import pandas as pd

#Conexion a base de datos
#=================================================
def conexion(Driver):
    server = 'lnmxvmsqlqa02' 
    database = 'HDI_DWH'
    
    try:
        if Driver== "WINDOWS":
            #Driver Windows: MAQUINA VIRTUAL
            cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes;')
        elif Driver == "LINUX":
            #Driver Linux: MobaXTerm
            cnxn = pyodbc.connect('DRIVER=FreeTDS;SERVER='+server+';PORT=1433;DATABASE='+database+';UID=test;PWD=test')
    except Exception as e:
        print('1. Error en la conexion, favor de verificar')
    else:
        print('1. Connection to server: ' + database + ', succesfull')
    return cnxn
#-------------------------------------------------

#Consulta de query a base de datos 
#=================================================
def conectaTablaBD(query, conexion):
    data= ''
    try:
        sql = query
        data = pd.read_sql(sql, conexion)
    except Exception as e:
        print('2. Error en la conexion, favor de verificar')
    else:
        print('2. Lectura de DataBase: correcta')
    return data
#-------------------------------------------------

#Leer query de un archivo .sql
#=================================================
def OpenFile(File):
    contenido=''
    try:
        with open(File, 'r', encoding='utf-8') as archivo:
            # Lee el contenido del archivo
            contenido = archivo.read()
    except: 
        with open(File, 'r') as archivo:
            # Lee el contenido del archivo
            contenido = archivo.read()
            
    return contenido
#-------------------------------------------------

In [4]:
import os
os.getcwd()

'C:\\Users\\430008671'

In [5]:
os.chdir('C:\\Users\\430008671\Downloads')

In [15]:
Agentes_ejecutivo= conectaTablaBD(query = OpenFile(File= 'Agente-ejecutivo.sql')
                                , conexion= conexion(Driver= 'WINDOWS'
                                                         )
                                )

1. Connection to server: HDI_DWH, succesfull
2. Lectura de DataBase: correcta

C:\Users\430008671\AppData\Local\Temp\ipykernel_4500\811662135.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(sql, conexion)

In [18]:
print(Agentes_ejecutivo.head(3))

   IdOficina  NipAgente  NipPerfilAgente             NombreAgente  \
0         20      50683            50935  SALOMON BUJDUD ESPINOSA
1         20      50683            50936  SALOMON BUJDUD ESPINOSA
2         20      50683            50937  SALOMON BUJDUD ESPINOSA

                          Perfil DescEstatusAgente DescTipoAgente Ejecutivo  \
0  50935 SALOMON BUJDUD ESPINOSA             VIGOR         AGENTE
1  50936 SALOMON BUJDUD ESPINOSA             VIGOR         AGENTE
2  50937 SALOMON BUJDUD ESPINOSA             VIGOR         AGENTE

  NombreOficinaComercial NombreOficina
0                Durango   020 DURANGO
1                Durango   020 DURANGO
2                Durango   020 DURANGO

In [38]:
aux='Select * from tb_bi_dimagente as age'
print(aux)

Select * from tb_bi_dimagente as age

In [5]:
import os

os.chdir('C:\\Users\\430008671\Downloads')

In [6]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: 4A37-0AEA

 Directorio de C:\Users\430008671\Downloads

01/02/2024  05:21 p. m.    <DIR>          .
01/02/2024  05:21 p. m.    <DIR>          ..
14/07/2023  02:00 p. m.             2,138 04_despues_2022.txt
04/01/2024  10:33 a. m.        15,031,576 08_Emisión_Autos_Bi_leon_agentes (1).xlsx
01/02/2024  11:48 a. m.             1,198 Agente-ejecutivo.sql
27/12/2023  11:18 a. m.           474,823 Autos + daños.xlsx
01/02/2024  03:50 p. m.                 0 census_nyc.sqlite
01/02/2024  03:49 p. m.                 0 Chinook.sqlite
05/01/2024  11:07 a. m.           222,941 FORMATO DE REQUERIMIENTO DE SOFTWARE 1 (1).pdf
05/12/2023  05:48 p. m.               845 Seguimiento - b213a6fffd14e283ed095a0bbcd63d9fad9d0193c4a0ad16866b6d26 - 2.mht
08/01/2024  03:18 p. m.            57,344 Solicitud_Prestamo_Empresa (7).xls
               9 archivos     15,790,865 bytes
               2 dirs  70,591,688,704 bytes libres

In [15]:
Agentes= conectaTablaBD(query = 'select * from tb_bi_dimagente'
                                , conexion= conexion(Driver= 'WINDOWS'
                                                         )
                                )

1. Connection to server: HDI_DWH, succesfull

C:\Users\430008671\AppData\Local\Temp\ipykernel_22972\3198694766.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(sql, conexion)

2. Lectura de DataBase: correcta

In [16]:
print(Agentes)

       NipPerfilAgente  NipAgente  NumPerfil                  NombreAgente  \
0                    0          0          0
1                    8          8          1           GREEN ROAD SERVICES
2                   35         35          1   CARLOS RAUL ROSADO VILLACIS
3                   58         58          1           GREEN ROAD SERVICES
4                   99         99          1          JAIMEA ARROYO BUSTOS
...                ...        ...        ...                           ...
41325           805138     805138          1     HUMBERTO CANIZALES TIRADO
41326           805143     805143          1    ROBERTO FERNANDEZ CASTILLO
41327           805243     805243          1  ANDRES CASTAÑEDA VILLAFUERTE
41328           805244     805244          1      GERMAN AYALA CHINCHILLAS
41329          9014184      21057          2  JOSE MANUEL TORRES RODRIGUEZ

       IdOficina           FechaAlta  IdTipoPersona DescTipoPersona  \
0              0 1900-01-01 00:00:00              0
1              1 2003-11-28 00:00:00              2           Moral
2              2 1999-01-23 00:00:00              1          Física
3              1 2003-11-28 00:00:00              2           Moral
4              3 1999-06-10 00:00:00              1          Física
...          ...                 ...            ...             ...
41325          0 1900-01-01 00:00:00              1          Física
41326          0 1900-01-01 00:00:00              1          Física
41327          0 1900-01-01 00:00:00              1          Física
41328          0 1900-01-01 00:00:00              1          Física
41329          4 2001-11-13 12:00:00              1          Física

       IdPerfilEjecutivo  IdEstatusAgente  ... IdCanalDistribucion  \
0                      0                0  ...                   0
1                      0               17  ...                 841
2                      0               18  ...                 841
3                      0               17  ...                 841
4                      0               17  ...                 841
...                  ...              ...  ...                 ...
41325                  0                0  ...                 841
41326                  0                0  ...                 841
41327                  0                0  ...                 841
41328                  0                0  ...                 841
41329                  0               17  ...                 841

       IdLocacionGeografica NuevaRecluta  IdCanalComercial DescCanalComercial  \
0                         0          0.0               0.0
1                       860          0.0               0.0          Sin Canal
2                       860          1.0               0.0          Sin Canal
3                       860          0.0               0.0          Sin Canal
4                       736          1.0               0.0          Sin Canal
...                     ...          ...               ...                ...
41325                   733          0.0               0.0          Sin Canal
41326                   733          0.0               0.0          Sin Canal
41327                   733          0.0               0.0          Sin Canal
41328                   764          0.0               0.0          Sin Canal
41329                   737          0.0               0.0          Sin Canal

                                       DescripcionPerfil  IdTipoAgente  \
0                                                    ...             0
1      NORMAL                                        ...            21
2      NORMAL                                        ...            19
3      NORMAL                                        ...            21
4      NORMAL                                        ...            19
...                                                  ...           ...
41325  METROPOLITANA                                 ...             0
41326  METROPOLITANA                                 ...             0
41327  METROPOLITANA                                 ...             0
41328  METROPOLITANA                                 ...             0
41329  ADICIONAL                                     ...            19

       IdEstado  FormaVentaHDI  PorcentajeUDI
0           0.0            0.0            0.0
1         901.0            NaN            0.0
2          11.0            NaN            0.0
3         901.0            NaN            0.0
4           9.0            NaN            0.0
...         ...            ...            ...
41325      25.0            NaN            0.0
41326      25.0            NaN            0.0
41327       9.0            NaN            0.0
41328      25.0            NaN            0.0
41329      32.0            NaN            0.0

[41330 rows x 28 columns]